<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="httpplatformhandler" />
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform
              stdoutLogEnabled="true" stdoutLogFile="%HOME%\LogFiles\fake.log" startupTimeLimit="60"
              processPath="%HOME%\site\wwwroot\packages\FAKE\tools\FAKE.exe"
              arguments="--envvar port %HTTP_PLATFORM_PORT% --envvar data_dir %HOME%\data --fsiargs --lib:%HOME%/site/wwwroot/paket-files/devcrafting/DDay.iCal/DDay.iCal/bin/Debug/ %HOME%\site\wwwroot\webServer.fsx" >
      <environmentVariables>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>