<!DOCTYPE html> 
<html>
	<head>
		<title>Calendars</title>
		<link href="/public/style.css" type="text/css" rel="stylesheet">
		<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body ng-app="Calendars" ng-cloak>    
		<div ng-controller="ActivitiesByMonthViewModel as activitiesViewModel" id="container">
			
			<h1>Activities Synthesis</h1>
			<p ng-show="activitiesViewModel.loadingSynthesis">
				<img src="/public/ajax-loader.gif"/>Loading synthesis...
			</p>
			<table ng-hide="activitiesViewModel.loadingSynthesis" ng-cloak>
				<thead>
					<tr>
						<td>Activity</td>
						<td ng-repeat="column in activitiesViewModel.months">{{ column }}</td>
						<td>Total man days</td>
						<td>Total revenue</td>
					</tr>
				</thead>
				<tr ng-repeat="activity in activitiesViewModel.activities">
					<td>{{ activity.activity }}</td>
					<td ng-repeat="column in activity.manDaysByMonth">{{ column.manDays == 0 ? '-' : column.manDays }}</td>
					<td>{{ activity.totalManDays }}</td>
					<td>{{ activity.totalRevenue }}</td>
				</tr>
				<tfoot>					
					<tr>
						<td>TOTAL</td>
						<td ng-repeat="column in activitiesViewModel.totals track by $index">{{ column }}</td>
						<td>{{ activitiesViewModel.totalManDays }}</td>
						<td>{{ activitiesViewModel.totalRevenues }}</td>				
					</tr>
				</tfoot>
			</table>
			<h1>Overloaded days</h1>
			<p>Days are considered overloaded when there are more than 8 hours a day, and it is not tagged with '#overloadChecked'.</p>
			<p ng-show="activitiesViewModel.loadingOverloadedDays">
				<img src="/public/ajax-loader.gif"/>Loading overloaded days...
			</p>
			<ul ng-hide="activitiesViewModel.loadingOverloadedDays" ng-cloak>
				<li ng-repeat="day in activitiesViewModel.overloadedDays">{{ day.item1 }}
					<ul>
						<li ng-repeat="activity in day.item2">{{ activity.activity.name + " - " + activity.hours + " hours" }}</li>
					</ul>
				</li>
			</ul>
							
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="/public/app.js"></script>
	</body>
</html>